<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="P:/TestTraining/src/test/java">
        <classes>
            <class name="com.senla.testing.rakickaya.tests.LoginPageTest">
            </class>
            <class name="com.senla.testing.rakickaya.tests.ProfileMainPageTest">
            </class>
            <class name="com.senla.testing.rakickaya.tests.ProfileSettingPageTest">
            </class>
            <class name="com.senla.testing.rakickaya.testsDB.ProfileMainPageTest">
            </class>
        </classes>
    </test>
</suite>